@charset "UTF-8";
div.panel-group{
	margin-top:5px !important;
}

h3{
	color:#563d7c;
}

a{
	
	text-align:justify;
	width:100%;
	display:inline-block;
}
ul{
	
	color:#ff4c0a;
	
}

ul li, ol li{
	
		font-size:16px !important;
}